@media screen and (max-width:1000px) {


    nav {
        flex-direction: column;
    }

    .slider {
        height: 23vh;
    }

    .logo {
        justify-content: center;
        margin: 12px 0;
    }

    nav ul {
        justify-content: center;
    }

    .search {
        justify-content: center;
    }

    .search input {
        margin: 12 px 16 px;
    }

    nav ul {
        height: 34 px;
    }

    .card-item img {
        display: inline-flex;
        width: 140px;
    }

    .logo img:hover {
        transition: ease-in-out 0.5s;
        /* box-shadow: 3px 4px 5px; */
        box-shadow: rgb(197, 239, 97) 3px 4px 5px;
    }

}